*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container_xxl{
    max-width:1200px;
    margin: 0 auto;
}

ul{
    list-style-type: none;
    li{
        a{
            text-decoration: none;
            color: black;
        }
    }
}

.extended_footer{
    .extended_footer_categories{
        display: block;
        column-count: 5 ;
        margin-bottom: 32px;
        
        li{
            page-break-inside: avoid;

        }
        
        .extended_footer_categories_ul{
            display: flex;
            flex-wrap: wrap;

            li{

                a{
                    font-family: Wallie,Helvetica;
                    color: #607d8b;
                    font-size: 0.75rem;
                }
            }
        }

    }
}