*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



ul{
    list-style-type: none;
    li{
        a{
            text-decoration: none;
            color: #607d8b;
            font-size: 0.75rem;
            font-family: Wallie,Helvetica;
        }
    }
}

.extended_footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    .extended_footer_categories{
        grid-column: 1/3;
        display: block;
        column-count: 5 ;
        margin-bottom: 32px;

        
        li{
            page-break-inside: avoid;

        }
        
        .extended_footer_categories_ul{
            display: flex;
            flex-wrap: wrap;

            li{
                margin-right: 5px;

                a{
                    font-family: Wallie,Helvetica;
                    color: #607d8b;
                    font-size: 0.75rem;

                    &:hover{
                        color: var(--secundary-blue-color);
                    }
                }
            }
        }

    }

    .extended_footer_cities{
        margin: 0 5px 20px 0;
        .extended_footer_cities_container{
            li{
                margin-right: 4px;
                h2 {
                    display: inline;
                    font-weight: 400;
                    color: var(--sexto-gray-color);
                    font-size: .875rem;
                }
            }
        }

        
        .extended_footer_cities_title {
            margin-bottom: 4px;
            font-size: 1rem;
            line-height: 20px;
            font-weight: 700;
            color: var(--sectimo-gray-color);
        }
        line-height: 20px;
        ul{
            display: flex;
            flex-wrap: wrap;
        }
    }

    .extended_footer_wallapop{
        h2 {
            margin-bottom: 4px;
            font-size: 1rem;
            line-height: 20px;
            font-weight: 700;
            color: #253238;
        }
        
    p {
        font-family: Wallie,Helvetica;
        font-size: .75rem;
        line-height: 20px;
        font-weight: 400;
        text-align: left;
        color: #607d8b;
        margin-bottom: 1rem;
    }

    }
}