svg{
    width: 30px;
}

.footer{
    display: grid;
    padding-bottom: 32px;


    .footer_info{
        display: grid;
        grid-template-columns: repeat(6,1fr);
        gap: 15px;
        margin-top: 15px;


        .footer_info_copyright {
            font-weight: 500;
            color: var(--sexto-gray-color);
            font-size: .75rem;
        }

        .footer_info_section_title{
            font-size: 1rem;
            font-weight: bolder;

        }
        ul{
            list-style: none;
         a {
            font-family: Wallie;
            font-size: .75rem;
            font-weight: 500;
            color: var(--sexto-gray-color);
            line-height: 28px;
            cursor: pointer;
            text-decoration: none;
        }
}
        
    }
    
    .footer_extra{
        display: grid;
        grid-template-columns: 2fr 1fr;

        justify-content: space-between;
        align-items: center;
        margin-top: 32px;
        padding: 0 44px;
        .footer_extra_apps{
            display: grid;
            grid-template-columns: repeat(4,1fr);
            gap: 15px;

            a{
                display: flex;
                align-items: center;
                text-decoration: none;
                text-align: center;
                
                }

                span {
                    font-family: Wallie;
                    font-size: .875rem;
                    font-weight: 500;
                    color: #607d8b;
                    margin: 8px;
                    &:hover{
                        color: var(--secundary-blue-color);
                }
            }
            .footer_extra_apps_items {
                display: flex;
                align-items: center;
            }
        }
        

        .footer_extra_social{
            display: flex;
            align-items: center;
            justify-content: end;
            gap: 30px;

            a{
                text-decoration: none;
                color: var(--cuarto-gray-color);

                &:hover{
                    color: var(--secundary-blue-color);
                }
            }
        }
    }

    

}

