svg{
    width: 30px;
}

.footer{
    display: grid;

    .footer_info{
        display: grid;
        grid-template-columns: repeat(6,1fr);
        gap: 15px;
        margin-top: 15px;


        .footer_info_copyright {
            font-weight: 500;
            color: var(--sexto-gray-color);
            font-size: .75rem;
        }

        .footer_info_section_title{
            font-size: 1rem;
            font-weight: bolder;

        }
        ul{
            list-style: none;
         a {
            font-family: Wallie;
            font-size: .75rem;
            font-weight: 500;
            color: var(--sexto-gray-color);
            line-height: 28px;
            cursor: pointer;
            text-decoration: none;
        }
}
        
    }
    

    

}

