@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,300&display=swap');

* {
    font-family: 'Poppins', 'Courier New', Courier, monospace, sans-serif;
}

body nav{
    display: flex;
    justify-content: flex-start;
    width:max-content;
    line-height: 24px;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: auto;
}

nav a {
    padding: 0 1em;
    color: black;
    text-decoration: none;
}

nav li:hover {
    text-decoration: underline;
}

.tots, .all {
    display: none;
}

.products:focus ~ .tots {
    display: block;
}

.tots:focus ~ .all {
    display: block;
}




