/* Estilos para el contenedor de la ventana flotante */
.Header_history_SearchBox {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 150%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-height: 80vh;
  overflow-y: auto;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  z-index: 10; 
}

.Header_history_SearchBox__recentSearches_ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Estilos para cada elemento li */
.Header_history_SearchBox__recentSearches_li {
  display: flex;
  align-items: center;
  padding: 8px;
  border-bottom: 1px solid #ddd;
  transition: background-color 0.3s;
}

.Header_history_SearchBox__recentSearches_li:hover {
  background-color: #f9f9f9;
}


.Header_history_SearchBox__recentSearches_li:last-child {
  border-bottom: none;
}

/* Estilos para el contenido dentro de cada li */
.Header_history_SearchBox__recentSearches_li img {
  margin-right: 10px;
  width: 24px;
  height: 24px;
}



.div-historyText-category{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.history-text {
  font-size: 16px;
  color: #333; 
  margin: 0;
  padding: 0;
}

.category{
  font-size: 14px;
  color: #777;
  margin: 0;
  padding: 0;
  }

button{
  padding: 0;
  border: none;
  background: none;
  color: initial;
  cursor: pointer;

  }