<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <my-login></my-login>
    <div class="h-100 loginContainer" style="background-color: rgba(41, 54, 61, 0.8);" slot="sectionBody">
        <dialog open  class="auth_AuthPage__content--column-gap__IJh1g d-flex flex-column h-100 justify-content-between">
          <img class="auth_AuthPage__image__7QbXa align-self-center" src="https://es.wallapop.com/next-assets/images/auth/onboarding_received_package.svg" alt="">
          <h1 class="auth_AuthPage__title__tsKSs mb-0 text-center">Compra y vende en Wallapop</h1>
          <p class="auth_AuthPage__description--high___NNn1 mb-0 text-center">Consigue los mejores precios y gana dinero con lo que no usas.</p>
          
        </dialog>
    </div>
    <script type="module">
        import { MyLogin } from './Components/Auth/login/login.js';
    </script>
</body>
</html>
