:host {
  --border-radius: 30px;

}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

.header_Header__container {
  position: sticky;
  top: 0;
  display: grid;
  grid-template-columns: 0.5fr 8fr 2fr;
  align-items: center;
  background-color: #fff;
  padding: 0 32px;
  z-index: 1000;
  gap: 5px;
  border-bottom: 1px solid;
  border-color: #d1dbe0;
  height: 106px;
  .header_Header__logo {
    flex: 0 0 auto;
  }

  .searchbox_SearchBox--header {
    padding-left: 10px;
    padding-right: 10px ;
    
  }

  
  .header__box_button{
    display: flex;
    gap: 5px;

    .header__button {
      padding: 10px;
      text-wrap: nowrap;
      border-radius: 15px;
      width: auto;
      background: transparent ;
      color: var(--primary-blue-color);
      border: solid 1px var(--primary-blue-color);
  
      &:hover{
        background: var(--primary-blue-color);
        color: #fff;
      }
    }

  }

  /* Media Query para pantallas pequeñas */
  @media screen and (max-width: 600px) {
    grid-template-columns: 1fr 4fr;

    .header__box_button {
      display: none;
    }
  }
  
}